<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recomendacion</title>
  <style>
    .rating {
      unicode-bidi: bidi-override;
      direction: rtl;
      text-align: center;
    }

    .rating > label {
      display: inline-block;
      padding: 5px;
    }

    .rating > input {
      display: none;
    }

    .rating > label::before {
      content: "\2605";
      font-size: 36px;
      color: grey;
      cursor: pointer;
    }

    .rating > input:checked ~ label {
      color: orange;
    }

    .rating > input:checked ~ label:before {
      color: orange;
    }
  </style>
</head>

<body>
  <div style="text-align: center;">
    <h1>Bienvenido {{id}}</h1>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th class="h4">Porque escuchaste:</th>
      </tr>
    </thead>
    <tbody>
      <div class="row" *ngFor="let e of artistas; let i = index">
        <ul>
          <li *ngFor="let x of e.common_artists.substring(1, e.common_artists.length - 1).split(','); let j = index">
            <h6> {{ x }}</h6>
          </li>
        </ul>

      </div>
    </tbody>
    <tbody>

      <th class="h4">Te podria interesar:</th>
      <div class="row" *ngFor="let e of nombres; let i = index">
        <h6>{{e}}</h6>
        <ul>
          <li *ngFor="let dato of datos[e]">
            {{ dato }}
          </li>
        </ul>
      </div>
    </tbody>

  </table>

  <h1  style="text-align: center;">Calificación</h1>
  <form action="/submit" method="post">
    <div class="rating">
      <input [(ngModel)]="rate" type="radio" id="star5" name="rating" value="1"><label for="star5"></label>
      <input [(ngModel)]="rate" type="radio" id="star4" name="rating" value="2"><label for="star4"></label>
      <input [(ngModel)]="rate" type="radio" id="star3" name="rating" value="3"><label for="star3"></label>
      <input [(ngModel)]="rate" type="radio" id="star2" name="rating" value="4"><label for="star2"></label>
      <input [(ngModel)]="rate" type="radio" id="star1" name="rating" value="5"><label for="star1"></label>
    </div>
    <div  style="text-align: center;">
      <button  (click)="rating()" type="submit">Enviar</button>
    </div>
  </form>
</body>

</html>